
#main {
    background-image: url(../images/long_background.svg);
    background-repeat: repeat-y;
    background-size: cover;
    background-color: #646464;
    background-position-y: -265px;
    padding-bottom: 60px;
}

#preloader {
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 13;
    position: relative;
    width: 100%;
    position: absolute;
    z-index: 999999999999999;
    margin-right: -7px;
}

.mt_1 {
    font-size: 4.5rem!important;
    text-align: center;
    width: 100%;
}

.chatbot_wrapper {
    position: inherit;
    justify-content: space-evenly;
    align-items: center;
    z-index: 0;
    display: flex;
    background: #ffffff87;
    margin: 50px 100px;
    border-radius: .375rem!important;
    padding: 50px 0;
}

canvas {
    display: none;
}


#bm {
    position: relative;
    left: unset;
    right: unset;
    bottom: unset;
}

.contact_form {
    font-size: 30px;
    width: 400px;
    margin-right: 100px;
}

.field {
    margin-bottom: 20px;
}

.field input {
    padding: 5px;
    font-size: 20px;
    width: 100%;
}

.field p {
    margin: 0;
}

.contact_text {
    font-size: 22px;
    width: 20%;
}

.contact_text a {
    color: #5d2964;
}

a.button {
    width: 100%;
}

.close {
    position: relative;
    margin-top: 0;
    width: 20px;
    height: 20px;
    right: unset;
}

.close:before, .close:after {
    height: 16px;
    width: 2px;
    background-color: #828282;
}

.privacy {
    z-index: 2;
    bottom: 0;
}

