.h2-5-mktg-fluid {
    color: #cccccc;
}

#main {
    background-image: url(../images/long_background.svg);
    background-repeat: repeat-y;
    background-size: cover;
    background-color: #646464;
    background-position-y: -265px;
    padding-bottom: 60px;
}

#preloader {
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 13;
    position: relative;
    width: 100%;
    position: absolute;
    z-index: 999999999999999;
    margin-right: -7px;
}

.mt_1 {
    color: white;
    font-size: 4.5rem!important;
    text-align: center;
    padding-bottom: 100px;
    margin-top: 60px;
}

#main_estimate {
    background: #ffffff87;
    padding: 100px;
    margin: 0 300px;
    border-radius: .375rem!important;
}

.wrapper_main {
    display: flex;
    justify-content: center;
}

.qa_estimate {
    background: white;
    color: black;
    padding: 30px;
    border-radius: .375rem!important;
    box-shadow: 0 0 0 1px rgb(53 72 91 / 10%), 0 2px 2px rgb(0 0 0 / 3%), 0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%), 0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%), 0 70px 65px rgb(0 0 0 / 9%);
    width: 500px;
}

.estimate_block {
    background: white;
    color: black;
    margin-left: 100px;
    padding: 30px;
    border-radius: .375rem!important;
    box-shadow: 0 0 0 1px rgb(53 72 91 / 10%), 0 2px 2px rgb(0 0 0 / 3%), 0 4px 4px rgb(0 0 0 / 4%), 0 10px 8px rgb(0 0 0 / 5%), 0 15px 15px rgb(0 0 0 / 6%), 0 30px 30px rgb(0 0 0 / 7%), 0 70px 65px rgb(0 0 0 / 9%);
    width: 400px;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

.showOverlay {
  bottom: 0;
  display: flex;
  font-size: 16px;
  left: calc(50% - 55px);
  margin-bottom: 7px;
  position: absolute;
}
.check {
  bottom: 0;
  display: flex;
  left: calc(50% + 40px);
  margin-bottom: 10px;
  position: absolute;
}

.container {
  position: relative;
  overflow: hidden;
}
.hidden {
  display: none;
}
.entry {
  height: 25px;
  position: absolute;
  width: 160px;
}
.entry:nth-child(2) {
  left: 8px;
  top: 8px;
}
.entry:nth-child(4) {
  left: 8px;
  top: 58px;
}
.entry:nth-child(6) {
  left: 8px;
  top: 108px;
}
.circle {
  border: 2px solid #545556;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  position: absolute;
  transition: border-color 300ms;
  width: 20px;
  margin-left: 2px
}
.entry-label {
  cursor: pointer;
  margin-top: -3px;
  padding-left: 40px;
  user-select: none;
  -moz-user-select: none;
  font-weight: 100;
}
.overlay {
  background: #fff;
  mask: url(#holes);
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAACMCAYAAAAOc+uVAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAItSURBVHic7ZnNjhJBFIVPA0txr0Iyw+tIdOXWaDRufZWZeYbZuMKOUV9Gg+HHGN/BHBcNcSBT1KVOEVycb0mq635UVd9U5zQkif+Y3rkFclhQxYIqFlQZiM8vALQAPgP4AWC1+X0E4ALAFMBzAOPiCixjRfIdyX5g/h7JFyTnJYVKBGckHxQsxJBke2rBK5LF55bdal6fSnCmyO1JhlcyKrhkwbYekBySXNcUfF1L7o7k20jhhsxetxYAJk3T/Kks2EfXmkaHxkXO1MfacgCwmbPNjYsIftV1knzJDYgIfqsgkuJ7bkBE8FcFkRTr3IBzXxay9SOCjyuIFM8dEZxUECmeOyL4tIJIimluQKRRLwFcnqBRDwDMUaFRjwG8quC0zxtk5ACEL6wrksNaZiQfkvwZKRxtM08AfGDgBh2Q6wG4BfAo+sAxXB/xp+6VI3lzTMGSK3/Lgu1mt62fji1W+tH0m+R7dm9iZNVeMnjm9om0mUOs8O+zc47dz84Juh76DJG3NYEqeHLOfVnIYkEVC6pYUMWCKhZUsaCKBVUsqGJBFQuqWFDFgipO3OnEfRcn7qWCTtxTOHFP4cS9Ek7cVZy4qzhxL4ZO3AXoxF2QoxP3DifuW5y4q1hQxYIqFlSxoIoFVSyoYkEVC6pYUMWCKhZUsaCKE3c6cd/FiXupoBP3FE7cUzhxr4QTdxUn7ipO3IuhE3cBOnEX5OjEvcOJ+xYn7ioWVLGgigVV/gKEL4RSyM8Z8wAAAABJRU5ErkJggg==);
  height: 140px;
  pointer-events: none;
  transition: background 300ms;
  width: 40px;
}
.highlight {
  background: #4D98EF;
  border-radius: 50%;
  height: 12px;
  left: 14px;
  pointer-events: none;
  position: absolute;
  top: 14px;
  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.2);
  transform: translateY(-50px);
  width: 12px;
  margin-top: -2px;
}
.hidden:nth-child(1):checked ~ .highlight {
  transform: translateY(0);
}
.hidden:nth-child(3):checked ~ .highlight {
  transform: translateY(50px);
}
.hidden:nth-child(5):checked ~ .highlight {
  transform: translateY(100px);
}
.hidden:nth-child(1):checked + .entry .circle {
  border-color: #4D98EF;
}
.hidden:nth-child(3):checked + .entry .circle {
  border-color: #4D98EF;
}
.hidden:nth-child(5):checked + .entry .circle {
  border-color: #4D98EF;
}
.check:checked ~ .containerOuter .overlay {
  background: #ecf0f4;
}



.select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 18px;
    color: #60666d;
}
@media (min-width: 768px) {
    .select-box {
        width: calc(100% - 60px);
        margin: 0;
   }
}
.select-box__current {
    position: relative;
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid #757575;
}
.select-box__current:focus + .select-box__list {
    opacity: 1;
    animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}
.select-box__current:focus .select-box__icon {
    transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
}
.select-box__value {
    display: flex;
}
.select-box__input {
    display: none;
}
.select-box__input:checked + .select-box__input-text {
    display: block;
}
.select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    padding-left: 0;
    padding-right: 23px;
}
.select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgb(0 0 0 / 39%);
    z-index: 9999;
}
.select-box__option {
    display: block;
    padding: 15px;
    background-color: #fff;
    color: rgba(0,0,0,0.87);
}
.select-box__option:hover, .select-box__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
}
@keyframes HideList {
    from {
        transform: scaleY(1);
   }
    to {
        transform: scaleY(0);
   }
}


.arrow4.is-right {
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(
315deg
);
    transform: rotate(
315deg
);
}

.arrow4 {
    display: inline-block;
    height: 13px;
    position: relative;
    width: 9px;
}

.arrow4::after, .arrow4 .arrow4::after {
    border-color: #fff;
}

.arrow4::after {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-right-width: 2px;
    content: '';
    display: inline-block;
    height: 9px;
    left: 0;
    position: absolute;
    top: 0;
    width: 9px;
}

.qa_block {
    margin-top: 40px;
}

.qa_main {
    font-weight: 600;
}

.est_p {
    text-align: center;
                      font-size: 25px;
}


.arrow4.is-triangle::after, .arrow4 .arrow4.is-triangle::after {
    border-color: transparent;
    border-bottom-color: #000;
}

.arrow4.is-triangle::after {
    border-style: solid;
    border-width: 0 0 12px 12px;
    height: 0;
    width: 0;
}



.group 			  { 
    position:relative; 
    width: calc(100% - 60px);
  }

.group input , .group textarea 			{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
  }
  .group  input:focus, .group  textarea:focus 		{ outline:none; }
  
  /* LABEL ======================================= */
  .group label 				 {
    color: rgba(0,0,0,0.87);
    font-size:18px;
    font-weight:100;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  }
  
  /* active state */
  .group textarea:focus ~ label		{
    top:-20px;
    font-size:14px;
    color:#602665;
  }

  .group input:focus ~ label, .group input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#602665;
  }


 
  
  /* BOTTOM BARS ================================= */
  .group .bar 	{ position:relative; display:block; width:100%; }
  .group .bar:before, .bar:after 	{
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#602665; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .group .bar:before {
    left:50%;
  }
  .group .bar:after {
    right:50%; 
  }
  
  /* active state */
  .group textarea:focus ~ .bar:before, .group textarea:focus ~ .bar:after {
    width:50%;
    color: red;
  }

 /* active state */
 .group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
  width:50%;
  color: red;
}

  textarea,
textarea:hover, 
textarea:active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border: unset;
    border-bottom:1px solid #757575;
}


  
  /* HIGHLIGHTER ================================== */
  .group .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
.group textarea:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
      from { background:#602665; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#602665; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#602665; }
    to 	{ width:0; background:transparent; }
  }



.question {
    width: 30px;
                  height: 30px;
                  background: #602665;
                  border-radius: 30px;
                  margin-left: 30px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: white;
                  font-size: 20px;
                  cursor: pointer;
}

.level_show {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.level svg {
    fill: #602665;
    width: 32px;
    height: 32px;
    position: initial;
}

.level {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #602665;
}

.lline {
    width: 20%;
    height: 2px;
    background-color: #602665;
}

.level.l2, .level.l3 {
    opacity: 0.3;
}

.project {
  margin: 60px 0;
}

.edit {
  display: flex;
                      justify-content: flex-end;
}

.e_delete, .e_edit {
  cursor: pointer;
  position: initial;
  width: 24px;
}

.total_cost span {
  font-weight: 700;
}


.question:hover .question_i {
  display: block;
}

.question_i {
  display: none;
  position: absolute;
  margin-top: 81px;
  background: #00000099;
  color: white;
  padding: 10px 5px;
  border-radius: .375rem!important;
  font-size: 15px;
}


#preloader {
  background-color: #696969;
}

.loader_text {
  color: white;
}